#form {
	position: absolute;
	top: 50px;
	left: 275px;
	width: 500px;
	height: 530px;
	background-color: rgb(250,156,1);
	color: #FFFFFF;
}
#form1 {
	position: absolute;
	top: 50px;
	left: 275px;
	width: 500px;
	height: 300px;
	background-color: rgb(250,156,1);
	color: #FFFFFF;
}

form {
	position: absolute;
	top: 65px;
	left: 115px;
	width: 300px;
	height: 400px;
	line-height: 280%;
	overflow: visible;
}


input[type="text"] {
	position: absolute;
	left: 100px;
	width: 150px;
	height: 18px;
}
#password{
	position: absolute;
	left: 100px;
	width: 150px;
	height: 18px;
}
#email {
	position: absolute;
	left: 100px;
	width: 150px;
	height: 18px;
}
#order {
	position: absolute;
	left: 5px;
	width: 250px;
	height: 50px;
}
.button {
	width: 70px;
	height: 30px;
	background-color: rgb(250,156,1);
	font-size: 14px;
}

#checkSub {
	position: absolute;
	top: 360px;
	left: 20px;
}

#checkRe {
	position: absolute;
	top: 360px;
	left: 170px;
}
#checkSu {
	position: absolute;
	top: 160px;
	left: 20px;
}

#checkR {
	position: absolute;
	top: 160px;
	left: 170px;
}
#checkS {
	position: absolute;
	top: 400px;
	left: 20px;
}

#check {
	position: absolute;
	top: 400px;
	left: 170px;
}

#submitHide {
	display: none;
}

#checkHide1 {
	display: none;
}


#submitShow {
	display: block;
	position: absolute;
	left: 90px;
	top: 490px;
}

.formtips {
	position: absolute;
	height: 30px;
	width: 320px;
	left: 270px;
	background-color: rgb(250,156,1);
	text-align: center;
	border: 1px solid #CCCCCC;
}

span {
	line-height: 230%;
}



